@import 'tailwindcss';

@font-face {
  font-family: 'Moderniz';
  src: url('src/assets/Moderniz.otf') format('opentype');
}
@font-face {
  font-family: 'Pokemon';
  src: url('/fonts/pokemon-solid.ttf') format('truetype');
}
:root {
  --foreground: #0a0a0a;
  --background: #eeeeee;
}

body {
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    to right,
    #0f172a,
    #334155
  ); /* from-slate-900 to-slate-700 */
}

.title {
  font-family: 'Moderniz', sans-serif;
  color: rgb(180, 12, 12);
  font-size: 48px;
}
.pokemon-font {
  font-family: 'Pokemon', sans-serif;
}
@media (max-width: 768px) {
  .title {
    font-size: 34px;
    text-align: center;
  }

  .pokemon-font {
    font-size: 12px;
  }

  body {
    background-position: center;
    background-size: cover;
  }
}
